
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>


<div class="container">
<h1><%= user.firstName %> <%= user.lastName %></h1>
<h3><%= user.email %></h3>

<%
var days = ["Thursday", "Friday", "Saturday", "Sunday"];
var hours = ["9 am", "10 am", "11 am", "12 pm", "1 pm", "2 pm", "3 pm"];
%>

<form name="times">
<table class="table">

	<tr>
		<td>Time&nbsp;&nbsp;</td>
		<%	days.forEach(function(day){	%>
			
			<td><%=day%>&nbsp;&nbsp;</td>
			
		<%	})	%>
	</tr>

	<%	hours.forEach(function(hour) {	%>
	<tr>
		<td><%=hour%></td>

		<%	days.forEach(function(day){	%>
			<td><input type="checkbox" id="<%=day + " " + hour%>"></td>
		<%	})	%>
	</tr>
	<%	})	%>

</table>
</form>
<button id="submitButton" class="btn btn-lg btn-primary">Submit</button>

<script type="text/javascript">

	$(function() {
		var availableTimes = "<%= user.availableTimes %>";
		availableTimes.split(",").forEach(function(time){
			//alert(JSON.stringify($("#" + time)));
			var element = document.getElementById(time);
			$(element).prop("checked", true);
		})
	})

    $("#submitButton").click(function(){
    	var form = document.times;
    	var totalString = "";
    	for(var i = 0; i < form.elements.length; i++) {
    		if(form.elements[i].checked == true) {
    			if(totalString != "")
    				totalString += ",";
    			totalString += form.elements[i].id;
    		}
    	}

    	$.post(
                '/user/set',
                {id: <%=user.id%>, availableTimes: totalString},
                function () {
                    //window.location = "/main/home";
                    alert("Times submitted");
                }
            ).fail(function(res){
                alert("Error: " + res.getResponseHeader("error"));
            });
    })
</script>


</div>